<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eCFR Analyzer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">eCFR Analyzer</h1>
        <div class="container mt-5">

        <div class="row text-center my-5">
            <div class="col-md-4 mb-4">
                <div class="card shadow-lg border-0">
                    <div class="card-body">
                        <h1 class="display-4">{{ 234234 }}</h1>
                        <p class="lead text-muted">Total Sections</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card shadow-lg border-0">
                    <div class="card-body">
                        <h1 class="display-4">{{ 234234234 }}</h1>
                        <p class="lead text-muted">Total Words</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card shadow-lg border-0">
                    <div class="card-body">
                        <h1 class="display-4">{{ 234234234 }}</h1>
                        <p class="lead text-muted">COVID Mentions</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-4" style="max-height: 80vh">
            <h3 class="text-center">Section Distribution by Agency</h3>
            <canvas id="sectionPieChart" height="200"></canvas>
        </div>

        <h1 class="text-center">Government Agencies</h1>
        
        <div class="mb-3">
            <input type="text" class="form-control" id="search-input" placeholder="Search agencies..." oninput="search_table()">
        </div>

        <table class="table table-bordered" id="agencies-table">
            <thead>
                <tr>
                    <th style="width: 37%" onclick="sort_by('name', 'up')">Agency</th>
                    <th style="width: 13%">Abbreviation</th>
                    <th style="width: 15%" onclick="sort_by('child_count', 'down')">Child Agencies Count</th>
                    <th style="width: 10%" onclick="sort_by('section_count', 'down')">Section Count</th>
                    <th style="width: 10%" onclick="sort_by('word_count', 'down')">Word Count</th>
                    <th style="width: 15%" onclick="sort_by('covid_count', 'down')">Covid Mention Count</th>
                </tr>
            </thead>
            <tbody>
                {% for agency in agencies %}
                    <tr>
                        <td><strong>{{ agency["name"] }}</strong></td>
                        <td>{{ agency["abbrev"] }}</td>
                        <td>
                            {{ agency["child_count"] }}
                            {% if agency["child_count"] > 0 %}
                                <button class="btn toggle-arrow collapsed text-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                                </button>
                            {% endif %}
                        </td>
                        <td>{{ agency["section_count"] }}</td>
                        <td>{{ agency["word_count"] }}</td>
                        <td>{{ agency["covid_count"] }}</td>
                    </tr>
                    {% if agency["child_count"] > 0 %}
                        <tr class="collapse" id="collapse{{ loop.index }}">
                            <td colspan="6" class="p-0">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th style="width: 52%">Agency</th>
                                            <th style="width: 10%">Abbrev.</th>
                                            <th style="width: 12%">Section Count</th>
                                            <th style="width: 12%">Word Count</th>
                                            <th style="width: 13%">Covid Mention Count</th>
                                        </tr>
                                    </thead>
                                    {% for child in agency["children"] %}
                                        <tr class="sub-agency-row">
                                            <td>{{ child["name"] }}</td>
                                            <td>{{ child["abbrev"] }}</td>
                                            <td>{{ child["section_count"] }}</td>
                                            <td>{{ child["word_count"] }}</td>
                                            <td>{{ child["covid_count"] }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
    const chart_labels = [
        {% for agency in agencies %}
            "{{ agency['abbrev'] or agency['name'] }}",
        {% endfor %}
    ]

    const chart_data = [
        {% for agency in agencies %}
            {{ agency['word_count'] }},
        {% endfor %}
    ];
    </script>
    <script src="../static/core.js"></script>
</body>
</html>
